<a href="https://colab.research.google.com/github/Leopuro/pa_repository/blob/main/PA_1F_Leonardo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# EXERCÍCIOS

In [ ]:
# 1 - Use o método len para imprimir o comprimento da string.
x = "Hello World"
print(len(x))

11

In [ ]:
# 2 - Obtenha o primeiro caractere da string txt.
txt = "Hello World"
x = (txt[0])
print(x)

H

In [ ]:
# 3 - Obtenha os caracteres do índice 2 ao índice 4 ( llo).
txt = "Hello World"
x = txt[2:][:4]
print(x)

llo

In [ ]:
# 4 - Converta o valor de txt para maiúsculas.
txt = "Hello World"
txt = txt.upper()
print(txt)

HELLO WORLD

In [ ]:
# 5 - Conte quantas vezes aparece a palavra "de" na string abaixo
txt = "Eu gosto de vijar, tomar vinho, de estudar estudar programação, de estudar Pyhon"
txt.count("de")

3

In [ ]:
# 6 - Separe a frase abaixo toda vez que encontrar um vírgula
txt = "Eu gosto de vijar, tomar vinho, de estudar estudar programação, de estudar Pyhon"
txt.split(",")

['Eu gosto de vijar',
 ' tomar vinho',
 ' de estudar estudar programação',
 ' de estudar Pyhon']

In [ ]:
#7 - Peça ao usuário uma frase e substitua todas as ocorrências de espaço por “#”.
Frase =(input("Digite uma fraze: "))
Espaço = Frase.replace(" ", "#")
print(Espaço)

Digite uma fraze: Hallo!! Hehehe Bem?
Hallo!!#Hehehe#Bem?

In [ ]:
# 8 - Faça um programa que retorne True se duas strings lidas do teclado são palíndromas mútuas, ou seja, se uma é igual à outra quando lida de traz para frente ou False, se não forem.
# Por exemplo: amor e roma

Palavra = (input("digite uma palavra: "))
Palavra2 = (input("Digite outra palavra: "))
Comparação = Palavra == Palavra2[::-1]
print(Comparação)

digite uma palavra: hai
Digite outra palavra: iah
True

In [ ]:
# 9- Faça um programa que leia o nome do usuário e mostre o nome de traz para frente, utilizando somente letras maiúsculas.
Nome = (input("Coloque seu nome aqui, pls: "))
emoN = Nome[::-1].upper()
print(emoN)

Coloque seu nome aqui, pls: Hallo
OLLAH

# **Exercícios**
##Exercício 1: Manipulação de Listas

- Defina uma lista com 5 nomes de cidades.
- Adicione uma nova cidade ao final da lista.
- Remova a segunda cidade da lista.
- Imprima a lista resultante.

In [ ]:
cidades = ["Ribeirão Pires", "Maua", "Campo Grande", "São Paulo", "Ouro Fino"]

In [ ]:
cidades.append  ("São Caetano")

In [ ]:
cidades.remove ("Maua")

In [ ]:
print(cidades)

['Ribeirão Pires', 'Campo Grande', 'São Paulo', 'Ouro Fino', 'São Caetano']

##Exercício 2: Operações com Tuplas

- Defina uma tupla com 4 cores.
- Crie uma nova tupla que seja a concatenação da tupla original com outra contendo mais 2 cores.
- Imprima a nova tupla.

In [ ]:
cores = ("azul", "vermelho", "verde", "Laranja")

In [ ]:
mais_cores = cores + ("Amarelo",)
print(mais_cores)

('vermelho', 'verde', 'azul', 'Amarelo')

##Exercício 3: Dicionários Simples

Crie um dicionário para representar um aluno, contendo "nome", "idade" e "curso".
- Atualize a idade do aluno.
- Adicione uma nova chave "nota" com um valor.
- Imprima o dicionário atualizado

In [ ]:
aluno = {
    "Nome":"Gabriel",
    "idade": 19,
    "curso":"Artes"
}

In [ ]:
print(aluno)

{'Nome': 'Gabriel', 'idade': 19, 'curso': 'Artes'}

In [ ]:
aluno["nota"] = 9

In [ ]:
print(aluno)

{'Nome': 'Gabriel', 'idade': 19, 'curso': 'Artes', 'nota': 9}

##Exercício 4: Listas e Dicionários

- Crie uma lista de dicionários, onde cada dicionário representa um produto com as chaves "nome" e "preço".
- Adicione um novo produto à lista.
- Atualize o preço do primeiro produto na lista.
- Imprima a lista resultante.

In [ ]:
Nome = {"buxa", "peda comum", "pão mordido", "Creme do Carlinhos"}
Preço = {6.9, 38, 2001, 11.9}
Lista_sinistra = [Nome, Preço]

In [ ]:
Lista_sinistra.append("Sinistagem")

In [ ]:
Novo_Preço = {7, 308, 21, 999}

In [ ]:
Preço.update (Novo_Preço)

In [ ]:
print(Lista_sinistra)

[{'buxa', 'peda comum', 'pão mordido', 'Creme do Carlinhos'}, {38, 6.9, 7, 999, 11.9, 2001, 308, 21}]

##Exercício 5: Analisando uma Lista de Tuplas

- Crie uma lista de tuplas, onde cada tupla contém um par (nome, idade).
- Encontre e imprima o nome da pessoa mais velha.
- Encontre e imprima a idade média das pessoas.

In [ ]:
nome = [
    ("Carlinhos", 69),
    ("Lucas", 17),
    ("Leo", 39),
    ("Sucokk", 21)
    ]

In [ ]:
Maior_Idade = 0
nome_velho = ""

if nome[0][1]> Maior_Idade:
  Maior_Idade = nome[0][1]
  nome_velho = nome[0][0]

if nome[1][1]> Maior_Idade:
  Maior_Idade = nome[1][1]
  nome_velho = nome[1][0]

if nome[2][1]> Maior_Idade:
  Maior_Idade = nome[2][1]
  nome_velho = nome[2][0]

if nome[3][1]> Maior_Idade:
  Maior_Idade = nome[3][1]
  nome_velho = nome[3][0]

media = (nome[0][1] + nome[1][1] + nome[2][1] + nome[3][1])/4

In [ ]:
print("A Pessoa mais velha é: ", nome_velho)
print("A Idade da pessoa mais velha é: ", Maior_Idade)
print("A média é: ", media)

A Pessoa mais velha é:  Carlinhos
A Idade da pessoa mais velha é:  69
A média é:  36.5