<a href="https://colab.research.google.com/github/Leopuro/pa_repository/blob/main/Variaveis_e_Operadores_aritimeticos/Variaveiseconstantes%2Cipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Variaveis e constantes

In [ ]:
idade = 15
altura = 1.9
nome = "Leonardo"
vai = True

In [ ]:
nomes = ["leonardo", "Gabriel", "joel"]
nomes2 = ("leonardo", "Gabriel", "joel")

In [ ]:
print(nome)
print(nomes)
print(nomes2)
tudo = {nome:"Leonardo",idade: 15,altura: 1.9,vai:True}

Leonardo
['leonardo', 'Gabriel', 'joel']
('leonardo', 'Gabriel', 'joel')

In [ ]:
print(type(idade))
print(type(altura))
print(type(vai))
print(type(nome))
print(type(nomes))
print(type(nomes2))

<class 'int'>
<class 'float'>
<class 'bool'>
<class 'str'>
<class 'list'>
<class 'tuple'>

In [ ]:
print("O nome dele é:", nome, ", sua idade é:", idade, ",ele tem:", altura, "metros de altura")

O nome dele é: Leonardo , sua idade é: 15 ,ele tem: 1.9 metros de altura

In [ ]:
Valor = 17

In [ ]:
print(f"O valor total de sua compra foi: {Valor} Reais!")

O valor total de sua compra foi: 17 Reais!

Área do **Círculo**

In [6]:
PI = 3,14159265358979323846
raio = float(input("Digite o valor do rário do circulo: "))

Digite o valor do rário do circulo: 2

In [8]:
areacir = PI * (raio**2)

In [ ]:
print(f"A area do círulo é {areacir}")

A area do círulo é 20106.192982974677

#Exercício 1

In [13]:
base = float(input("Base é igual a:"))
altura = float(input("Altura é igual a:"))
area = base * altura
print(f"A area do Retângulo é {area}")

Base é igual a:10
Altura é igual a:20
A area do Retângulo é 200.0

# Exercício 2

In [17]:
PI = 3.14159265358979323846
raio = float(input("Digite o Raio:"))
perimetro = 2 * PI * raio
print(f"O perimetro do circulo é: {perimetro}")

Digite o Raio:23
O perimetro do circulo é: 144.51326206513048

#Exercício 3

In [31]:
fahrenheit = float(input("Digite uma temperatura em Fahrenheit é:°"))
celsius = (fahrenheit - 32) * 5/9
print(f"A temperatural atual em celsius é: {celsius}")

Digite uma temperatura em Fahrenheit é:°30
A temperatural atual em celsius é: -1.1111111111111112

#Exercício 4

In [43]:
Peso = float(input("Qual o seu peso?:"))
Altura = float(input("Qual a sua altura?:"))
IMC = Peso / (Altura * Altura)
print(f"Seu IMS é: {IMC}")

Qual o seu peso?:64
Qual a sua altura?:1.71
Seu IMS é: 21.887076365377382